html {
    height: 100%;
}

body {
    height: 100%;
    background: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(40, 98, 98);
    font-size: 70px;
}